.DS_Store
######FOLDERS
models/
history/
semantic_train_data/
adjusted_data/*
second_buffer/
noisy_data/
.vscode/
__pycache__/
tensorboard_logs/
!/buffer
!/buffer/fill_forwardt.py
!/buffer/baseline
/buffer/baseline/*
!/buffer/forwardt
/buffer/forwardt/*
######FILES
*.pkl
*.txt
*.h5
extract_semantic_train_indices.py
semantic_train_indices.csv
sem_train.ipynb
old_semantic_noise_generator.py
semantic_buffer_filler.py
semantic_buffer_merger.py
semantic_buffer_samples/
test
concatenate_val.py
filepaths.json
h5_coverter.py
to_be_removed.py